<app-navbar></app-navbar>
<div
  class="main flex flex-col justify-center items-center main-bg px-6 md:px-32"
>
  <form
    (ngSubmit)="search()"
    class="max-w-[500px] w-full flex flex-col items-center"
  >
    <h3 class="text-5xl mb-8 text-center">
      Search for a <span class="text-primary">Company</span>
    </h3>
    <input
      type="text"
      class="w-full text-center"
      placeholder="Company Name or Number"
      [formControl]="searchCtrl"
    />
    <span
      *ngIf="searchCtrl.touched && searchCtrl.invalid"
      class="text-red-400 mt-2 block text-sm"
      >Enter a search text to proceed</span
    >
    <button
      type="submit"
      class="bg-primary text-white btn-lg mt-6"
      [disabled]="searching"
    >
      {{ searching ? "searching..." : "Search" }}
    </button>
  </form>
</div>
